<div class="card-body">
    <h5 class="card-title mb-3">{{$ctrl.event.name}}</h5>
    <h6 class="card-subtitle mb-4">{{$ctrl.event.creatorName}}</h3>
        <span ng-hide='$ctrl.event.time==null'>Time: {{$ctrl.event.time}}<br></span>
        <span ng-hide='$ctrl.event.duration==null'>Duration: {{$ctrl.event.duration | durations}}<br></span>
        <span ng-hide='$ctrl.event.level==null'>Level: {{$ctrl.event.level}}<br></span>
        <span ng-hide='$ctrl.event.location.address == null'>Location:
            {{$ctrl.event.location.address}},{{$ctrl.event.location.city}},{{$ctrl.event.location.province}}<br></span>
        <span>{{$ctrl.event.abstract}}</span>
</div>